<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- 		<property name="LOG_PATH" value="E:\\tmp\\logs\\"/> -->


    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}pruebatecnica.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}pruebatecnica.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory> 
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
	
<!-- 	<logger name="org.springframework.jndi" level="DEBUG" > -->
    <logger name="org.springframework.jndi" level="ERROR" >
		<appender-ref ref="CONSOLE"/>
        <appender-ref ref="SAVE-TO-FILE"/>
	</logger>
	
    <logger name="com.andresgaleano.pruebatecnica" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>
    
<!--     <root level="DEBUG"> -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SAVE-TO-FILE"/>
    </root>
</configuration>